body {
    line-height: 1;
    font-family: 'Source Sans Pro', sans-serif;
    overflow-x: hidden;
    font-weight: 400;
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
    padding: 0
}
a:hover{
    text-decoration: none;
}
#container{
    position: relative;
    height: 100%;
}
#header{
    width: 100%;
    height: 60px;
    position: relative;
    z-index: 100;
    /* overflow: hidden; */
    /* background: pink; */
    border-bottom: 1px solid rgba(0,0,0,.1);
}
.header{
    margin-bottom: 50px;
}
.logo-home{
    float: left;
}
.logo-home a h3{
    margin: auto;
    line-height: 2;
    padding: 5px;
}
.menu-home{
    float: left;
}
.menu-home button{
    margin-top: 10px;
    color: white;
    background: #2a73cc;
    font-size: 16px;
}
.account-header{
    float: right;
}
.account-header button{
    margin-top: 10px;
    color: #2a73cc;
    border: 1px solid #2A73CC ;
    font-size: 16px;
}

.dropdown-item{
    padding: 10px;
}
.dropdown-item:hover {
    background-color: aliceblue;
}
.header-search{
    margin-top: auto;
}
.btn-outline-secondary {
    color: #2a73cc;
    border-color:#ced4da;

}
.btn-outline-secondary:hover {
    color: #fff;
    background-color:#2a73cc ;
    border-color: #6c757d;
}

.header-login-signup{
    margin: auto;
}
.btn-login{
    float:right;
}
.btn-login a{
    color: white;
}
.btn-signup{
    float: right;
}
.title-islogin{
    margin: 20px 0 0 20px;
}










#body{
    width: 100%;
    min-height: 500px;
    /* overflow: hidden; */
   
}
.carousel-indicators li {
    border-radius: 10px;
}
.carousel-indicators .active {
    width: 12px;
    height: 12px;
    border-radius: 10px;
    background: #3276b1;
    border-color: #3276b1;
}
.carousel-caption{
    color: black
}
.carousel-caption h5{
    font-size: 70px;
    font-family: cursive;
    color: #2a73cc
}
/* coursera */

.carousel-item img{
    max-height: 500px;
    width: 100%;
    margin: auto;
}
.carousel-control-prev i,.carousel-control-next i{
    color: #2A73CC;
}
/*.......................*/
.partner-body{
    margin: auto;
}
.list-partner{
    margin: 36px auto;
    max-width: 1275px;
    background: #fff;
    position: relative;
    overflow-x: auto;
}
.list-partner a{
    padding: 0 10px;
}
.list-partner img{
    max-height: 40px;
    border: none;
    padding: 5px;
}
.infomation-body{
    margin: auto;
    margin-bottom: 20px;
}
.infomation-body-title{
    margin: 35px 0;
}
.infomation-body-title h3{
    font-family: OpenSans,Arial,sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    margin:auto;
    padding: 10px 0;
}
.left-info{
    margin: auto;
}
.left-info ul{
    padding: 10px;
}
.left-info ul li{
   margin-bottom: 40px;
}
.left-info ul li h3{
    font-size: 22px;
    line-height: 24px;
    font-weight: 500;
    margin-bottom: 10px;;
    font-family: OpenSans,Arial,sans-serif;
}
.left-info span{
    font-size: .875rem;
    line-height: 1.5rem;
}
.list-body-cousera{
    margin-bottom: 40px;
}
.list-body-cousera .title{
    background: #2a73cc;
    width: 100%;
    margin-bottom: 20px;
}
.list-body-cousera h3{
    padding: 0 20px;
    margin-top: 5px;
    /* margin: auto; */
    background-color: #2a73cc;
    color: white;   
}
.cousera-item{
    padding: 0;
    margin: auto;
    box-shadow: 0px 0px 5px 0px rgba(165, 165, 165, 0.75);
}
.cousera-item:hover{
    box-shadow: 0px 20px 50px 0px rgba(141, 167, 244, 0.5);
    transition: 0.3s ease-out;
    transform: scale(1.02, 1.02);
}
.carousel-control-next, .carousel-control-prev{
    width: 0;
}
.img-item{
    margin: auto;
    width: 100%;
    
}
.cousera-name{
    padding: 10px;
}
.cousera-info span{
    padding: 0 10px;
    color: #2a73cc;
}
.teacher-name,.price{
    padding: 5px 10px;
}

.btn-more{
    float: right;   
    margin: auto;
    margin-bottom: 20px;
    margin-right: 20px;
}
.cousera-info .more .btn-secondary a{
    color: white;
}
.btn-secondary{
    background-color: #2A73CC;
}
.btn-secondary:hover{
    color: #2A73CC;
    background: #fff;
    border-color: #2A73CC;
}
.link-pages{
    position: relative;
    width: 100%;
    overflow: hidden;
}
.feature{
    width: 100%;
    padding:60px 0 50px 0
}
.feature .container{
    max-width: 600px;
}
.feature h1{
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif
}
.feature p{
    text-align: center;
    color: #777;
    font-size: 15px;
    line-height: 1.7;
    font-family: 'Open Sans', sans-serif;
}
.feature-more{
    margin:30px  auto;
}
.features-item{
    float: left;
    padding: 15px;
    transition: 0.3s ease-out;

}
.features-item:hover{
    background:linear-gradient(to right,  #8da7f4 0%,#8da7f4 13%,#80aef2 32%,#47cde9 84%,#38d5e7 100%);
    box-shadow: 0px 20px 50px 0px rgba(141, 167, 244, 0.5);
    transition: 0.3s ease-out;
    transform: scale(1.02, 1.02);
  
}
.features-item i{
    float: right;
    color: #8da7f4;
}
.content h2{
    color: black
}
.content h2 a:hover{
    color: white;
}
.content p{
    color: #777;
    font-size: 15px;
    line-height: 1.7;
}
.features-item:hover i,.features-item:hover h2,.features-item:hover p{
    color: white
}



#myCarousel .thumbnail {
	margin-bottom: 0;
}
.carousel-control.left, .carousel-control.right {
	background-image:none !important;
}
.carousel-control {
	color:#fff;
	top:40%;
	color:#428BCA;
	bottom:auto;
	padding-top:4px;
	width:30px;
	height:30px;
	text-shadow:none;
	opacity:1;
}
.carousel-control:hover {
	color: #d9534f;
}
.carousel-control.left, .carousel-control.right {
	background-image:none !important;
}
.carousel-control.right {
	left:auto;
	right:-32px;
}
.carousel-control.left {
	right:auto;
	left:-32px;
}
.carousel-indicators {
	bottom:-30px;
}
.carousel-indicators li {
	border-radius:0;
	width:10px;
	height:10px;
	background:#ccc;
	border:1px solid #ccc;
}
.carousel-indicators .active {
	width:12px;
	height:12px;
	background:#3276b1;
	border-color:#3276b1;
}
.well {
    margin: auto;
}
/* cousera page */
.list-topic{
    margin-bottom: 20px;
}
.topic-item{
    position: relative;
    overflow: hidden;
    margin: 20px 0;
    box-shadow: 0px 0px 5px 0px rgba(165, 165, 165, 0.75);
}
.topic-item:hover{
    box-shadow: 0px 20px 50px 0px rgba(141, 167, 244, 0.5);
    transition: 0.3s ease-out;
    transform: scale(1.02, 1.02);
}
.topic-caption{
    position: absolute;
    right: 15%; 
    bottom: 20px; 
    left: 15%; 
     z-index: 10; 
    padding-top: 20px; 
    padding-bottom: 20px;
    color: #fff;
    text-align: center; 
    
}
.img-topic{
    width: 100%;
    height: 200px;
}
#topic{
    display: none;
}
.see-more{
    text-align: center;
    padding: 10px;
    margin: auto;
}
.see-more h5{
    border: 1px solid #2A73CC;
    padding: 5px ;
    border-radius: 4px;
}

/* blocktopic */
.topic-head{
    padding: 0;
}
.topic-head-back{
    position: relative;
    overflow: hidden;
    margin: 20px 0;
    box-shadow: 0px 0px 5px 0px rgba(165, 165, 165, 0.75);
}
.img-topic-head{
    width: 100%;
    height: 200px;
}
.topic-head-cap{
    position: absolute;
    right: 15%; 
    bottom: 20px; 
    left: 15%; 
     z-index: 10; 
    padding-top: 20px; 
    padding-bottom: 20px;
    color: #fff;
    text-align: center; 
}
.topic-head-cap h5{
    font-size: 60px;
    font-family: cursive;
}
.list-key ul li{
    float: left;
    padding: 10px;
    border: 1px solid #2A73CC;
    border-radius: 4px;
    margin-right: 5px;
}
.list-key ul li:hover{
    color: white;
    background: #2A73CC;
}
.list-key ul li a:hover{
    color: white;
}
.title-course-topic h5{
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 20px;
    color:#676363;
    font-family: Arial, Helvetica, sans-serif;
}
.explanation-table{
    background-color: #fff;
    border-radius: 3px;
    margin-bottom: 24px;
}
.table-row {
    display: grid;
    grid-template-columns: 160px auto;
    border-bottom: 1px solid #e1e1e1;
}
.first-column{
    padding: 12px 10px;
    align-self: center;
    text-align: center;
}
.table-header span{
    font-size: 16px;
    font-weight: 700;
    color: #525252;
    line-height: 1.5;
    text-transform: uppercase;
}

.second-column{
    padding: 24px;
    font-size: 14px;
    align-self: center;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
}
.productType{
    border-radius: 3px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 0.1875rem 1.125rem;
    align-items: center;
    width: fit-content;
    background-image: linear-gradient(90deg, #4fc1e9, #4a89dc)
}
.item01{
    background-image: linear-gradient(90deg, #4fc1e9, #4a89dc)
}
.item02{
    background-image: linear-gradient(90deg, #5d9cec, #967adc);
}
.item03{
    background-image: linear-gradient(90deg, #48cfad, #3bafda);
}



/* learn-course page */
.learn-head{
    background-image: linear-gradient(90deg, #8c1515, #d2c295);
    height: 200px;
    margin: auto;
}
.star-rating {
    line-height:32px;
    font-size:1.25em;
  }
  
.star-rating .fa-star{color: yellow;}

.learn-head-left{
    text-align: center;
    font-size: 20px;
}
.learn-caption{
    /* position: absolute; */
    right: 15%;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
}
.learn-caption h5,.offer-by h5{
    font-size: 36px;
    font-family: monospace;
}
.btn-enroll button{
    background-color: rgb(255, 255, 255);
    color: rgb(31, 31, 31);
    font-weight: bold;
    border-color: transparent;
}
.enroll{
    border-radius: 2px;
    border-width: 1px;
    border-style: solid;
    line-height: 1rem;
    position: relative;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    background-image: none;
    cursor: pointer;
    text-decoration: none;
    border: 1px solid #666666;
    padding: 0.9rem 2rem;
    font-size: 1rem;
    min-height: 48px;
    -webkit-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-filter: none;
}
.offer-by{
    right: 15%;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
}
.learn-body{
    margin-top: 20px;
}
.learn-body-left,.learn-body-right{
    float: left;
}
.video-course{
    width: 100%;
    float: left;
    margin-bottom: 25px;
    min-height: 455px;
    margin-top: 20px;
}
.video-course iframe{
    width: 100%;
    height: 500px;
}
.comment-container {
    padding-bottom: 40px;
    width: 100%;
    float: left;
}
.comment-tab {
    width: 100%;
    float: left;
    border-bottom: 1px solid #2A73CC;
    margin-bottom: 30px;
}
.nav:before{
    display: table;
    content: " ";    
}
.comment-tab li {
    box-sizing: border-box;
    margin-left: 0 !important;
    font-size: 18px;
}
.nav-pills > li {
    float: left;
}
.nav > li {
    position: relative;
    display: block;
}
.comment-tab .active > a {
    background-color: #2A73CC !important;
    color: #fff;
}
.comment-tab li a {
    color: #666;
    padding: 6px 15px 3px 15px;
    font-size: 25px;
    border-radius: 0;
}
.tab-content > .active {
    display: block;
}
.fade.in {
    opacity: 1;
}
.fade {
    opacity: 0;
    transition: opacity .15s linear;
}
.list-comments {
    width: 100%;
    float: left;
    padding: 0 0 15px 0;
}
.list-comments .input-comment-container {
    width: 100%;
    float: left;
    margin-bottom: 15px;
}
.list-comments .input-comment-container p {
    margin-bottom: 10px;
}
.list-comments .input-comment-container .me-avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    float: left;
}
.list-comments .input-comment-container .input-comment {
    width: calc(100% - 150px) !important;
    float: left;
    margin: 0 15px;
    padding: 10px 10px;
    box-sizing: border-box;
    outline: none;
    border: 1px solid #DDD;
    border-radius: 2px;
}
.list-comments .input-comment-container .post-comment-btn {
    padding: 6px 20px;
    background-color: #2A73CC;
    color: #fff;
    border-radius: 2px;
    cursor: pointer;
    float: left;
}
.list-comments .comment-item {
    width: 100%;
    float: left;
    list-style: none;
    border-top: 1px solid #EEE;
    padding: 10px 0;
}
.list-comments .comment-item .avatar-container {
    width: 50px;
    height: 35px;
    float: left;
}
.pull-left {
    float: left;
}
.pull-left {
    float: left !important;
}
.list-comments .comment-item .avatar-container img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
.list-comments .comment-item .comment-content {
    width: calc(100% - 90px);
    float: left;
}
.list-comments .comment-item .comment-content .name {
    margin-bottom: 0;
    width: calc(100% - 60px);
    font-size: 15px;
    line-height: 1.2;
    margin-bottom: 5px;
}
.list-comments .comment-item .comment-content .name b {
    color: #2A73CC;
    cursor: pointer;
}
.list-comments .comment-item .comment-content .comment-action {
    font-size: 13px;
    margin-bottom: 0;
}
.list-comments .comment-item .comment-content .comment-action .answer {
    cursor: pointer;
}
.list-comments .comment-item .comment-content .comment-action .time {
    opacity: 0.6;
}
.list-comments .comment-item .comment-content .comment-action {
    font-size: 13px;
    margin-bottom: 0;
}
/* .list-comments .comment-item .comment-content .reply-container {
    width: 100%;
    float: left;
} */
/* .collapse {
    display: none;
}
.collapse.in {
    display: block;
} */
.list-comments .load-more-comment {
    width: 100%;
    float: left;
    text-align: center;
    background: #2a73cc;
    color: #fff;
    padding: 5px 0;
    border-radius: 2px;
}
.list-comments .load-more-comment .loading-icon {
    width: 20px;
}
.list-comments .load-more-comment:hover {
    opacity: 0.9;
    cursor: pointer;
}
.learn-body-right{
    width: 280px;
    float: left;
    margin: auto;
    min-height: 300px;
    margin-top: 20px;
}
.intro{
    min-height: 200px;
    padding: 0 30px;
}
.buy-item{
    text-align: center;
    width: 100%;
    float: left;
    padding: 0 0 30px 0;
    height: 72px;
}
.btn-buy {
    padding: 12px 20px;
    background-color: #e74c3c;
    color: #fff;
    border-radius: 3px;
    font-size: 20px;
    width: 100%;
}
.btn-buy:hover{
    cursor: pointer;
    border: 1px solid #e74c3c;
    background-color: #fff;
    color: #e74c3c;
}
.intro .see-more-courses{
    width: 100%;
    float: left;
    text-align: center;
    padding: 10px 0;
    border: 1px solid #e74c3c;
    color: #e74c3c;
    border-radius: 3px;
    font-size: 20px;
    margin-bottom: 25px;
}
.intro .see-more-courses:hover{
    cursor: pointer;
    background-color: #e74c3c;
    color: #fff;
}
.main-nav{
    /* width: 270px; */
    /* height: 580px; */
    margin-top: -20px;
}
.main-nav >h3{
    background: #e8e1e1;
    padding: 10px;
    color: black;    
    font-size: 20px;
    text-align: center
}
.main-nav-ul{
    background:#e8e1e1;
}
.main-nav >ul>li>a{
    /* font-size: 13px; */
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 0 10px 20px;
    color: black;
    border-bottom: 1px solid white;
}
.main-nav-ul > li>a:hover{
    color:  #2A73CC;
    background: white;
    border-left: 1px solid #2A73CC;
    border-right: 1px solid #2A73CC;

}
.main-nav-ul >li>a>span{
    margin-right: 10px;
}
.list-lesson{
    /* padding: 0 30px; */
}

#more-comment{
    display: none;
}
.btn-more-comment{
    margin-top: 20px;
    align-items: center;
    width: 100%;
}


/* my courses page*/
.body-big{
    background: #f5f5f5;
    padding-top: 30px;
    padding-bottom: 40px;
}
.header-mycourse{
    border-radius: 3px;
    text-align: center;
    background: #fff;
    margin-bottom: 30px;
    padding: 0 15px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.1);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.1);
    box-shadow: 0 1px 2px rgba(0,0,0,.1);

}
.course-summary{
    display: inline-block;
    padding: 20px 10%;
    color: #272727;
    font-size: 14px;
    background-color: #fff;
    line-height: 24px !important;
    font-family: 'Roboto', sans-serif !important;
}
.course-summary ul li{
    width: 130px;
    float: left;
    margin: 0 20px;
}
.course-summary ul li p{
    font-size: 18px;
    color: #353535;
}
.img-count-courses {
    background-position-y: -4937px;
}
.img-document-courses {
    background-position-y: -5037px;
}
.img-kpoint-courses {
    background-position-y: -6761px;
}
.img-courses {
    width: 50px;
    height: 50px;
    margin: auto;
    background-image: url(https://media.kyna.vn/src/img/icon-kyna.png);
    background-repeat: no-repeat;
    background-position-x: -50px;
}

.course-summary ul li span {
    font-size: 24px;
    font-weight: 400;
    display: block;
    margin-top: 15px;
}
.body-big ul#menu-courses {
    position: absolute;
    top: -60px;
    border-bottom: none;
    width: 100%;
}
.body-big ul.nav.nav-tabs {
    margin: 10px auto;
    font-size: 16px;
    border-bottom: none;
}
.body-big ul {
    padding: 0;
    margin-bottom: 0;
}
.body-big ul#menu-courses > li.active-tab, .body-big ul#menu-courses > li:hover {
    background-color: white;
    border-top: 2px solid #2a73cc;
    border-bottom: none !important;
    border-left: 1px solid #F5F5F5;
    border-right: 1px solid #F5F5F5;
}
.body-big ul#menu-courses > li {
    padding: 0;
    border-top: 2px solid transparent;
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;
}
.mycourse{
    min-height: 500px;
    background: white;
    padding-bottom: 40px;
}
.mycourse .mycourse-title{
    width: 100%;
    border-bottom: 1px solid #EEE;
    height: 35px;
    padding: 40px 0 40px 30px;
}
.tab-item {
    float: left;
    margin-right: 30px;
    padding-bottom: 10px;
    font-size: 24px;
    cursor: pointer;
    color: #333;
}
.tab-item.active {
    border-bottom: 2px solid #2A73CC;
    color: #2A73CC;
    height: 35px;
}
.content-lesson{
    margin: 60px auto;
    line-height: 1.5;
}
.mycourse-list
{
    margin-top: 40px;
}
.mycourse-list ul{
    width: 100%;
}
.mycourse-list ul li .cousera-item{
    margin: auto;
}
.mycourse-list ul li{
    float: left;
    margin: 45px;
}
.btn-continue{
    background: #d9534f;
    color: white;
}
.btn-continue:hover{
    color: #d9534f;
    background: white;
    border: 1px solid #d9534f;
}

/* Page account */
.file-upload input[type="file"] {
    cursor: pointer;
    opacity: 0;
    filter: opacity(0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
}
.user-avatar{
    margin:20px auto;
    display:table
}
.user-avatar .file-upload{
    display:table-cell;
    width:122px;
    height:122px;
    border:1px solid transparent;
    border-radius:100%;
    vertical-align:middle;
    position:relative;
    text-align:center;
    overflow:hidden
}
.user-avatar .file-upload.avatar-empty{
    border-color:#ccc
}
.user-avatar .file-upload:hover::after{
    content:"Đổi hình";
    position:absolute;
    top:0;
    left:0;
    width:120px;
    height:120px;
    line-height:120px;
    color:#fff;
    border-radius:50%;
    background-color:rgba(0,0,0,.5)
}
#k-courses-header {
    background: #F5F5F5;
    padding-top: 30px;
    padding-bottom: 40px;
}
#k-courses-header header img{
    width:120px;
    height:120px;
    object-fit:fill;
    margin:0
}
.k-height-header h3{
    text-align: center;
    font-style: italic;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.acc-item{
    padding: 15px;
}
.acc-item-lable{
    font-weight: bold;
    padding-left: 0;
    line-height: 40px;
    margin-bottom: 0;
    height: 40px;

}
.left{
    float: left;
}
.right{
    float: left;
}
#profileform-gender {
    text-align: left;
    line-height: 40px;
}
#profileform-gender label {
    padding-left: 30px;
    background-position: -75px -181px;
    margin-right: 12px;
}
#profileform-gender label.selected {
    padding-left: 30px;
    background-position: -75px -85px;
    margin-right: 12px;
}
.right span.icon{
    z-index: 99;
    position: absolute;
    line-height: 37px;
    padding: 0 10px;
    left: 12px;
}
.right input{
    padding: 0 25px;
}

.fa-eye-slash:before {
    content: "\f070";
}
.change-pass{
    margin: 20px 0;
    border-top: 1px solid #272727;
}
.change-pass .acc-item{
    padding-left: 0;
}
.change-pass .btn-action{
    align-items: center;
    text-align: center;
    margin: auto;
}
.change-pass .button {
    background-color:#2A73CC;
    color: white;
    padding: 10px 25px;
    border-bottom: 2px solid #2A73CC;
    border-right: none;
    border-top: none;
    border-left: none;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 3px;
}
.change-pass .button-close {
    color: #272727;
    margin-left: 20px;
    text-decoration: underline !important;
}








#footer{
   
    min-height: 100px;
    /* overflow: hidden; */
    background: #e8e1e1
}
.footer-left{
    float: left;
    margin: 20px;
}
.footer-left h3{
    padding: 10px;
    font-size: 30px;
    color:#6c757d ;

}
.footer-intro p{
    padding: 0 20px 10px 10px;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: #373a3c;
}
.footer-intro span{
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
    font-size: 12px;
    line-height: 1.5;
    color: #373a3c;
    padding: 10px;
}
.footer-more{
    margin-top: 30px;
}
.footer-more-item{
    float: left;
}
.footer-more-item h5{
    color: black;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-transform: uppercase;
}
.footer-more-item ul li{
    padding: 5px;;
}
.footer-more-item ul li a{
    color: #373a3c;
}




/* teacher style */
.btn-add{
    padding: 20px 0;
}
.btn-add a{
    color: white;
}
.btn-change{
    background: #28a745;
    color: white;
}
.btn-change:hover{
    color: #28a745;
    background: white;
    border: 1px solid #28a745;
}
.more{
    margin-top: 10px;
}


/* teacher add new course  */

.form-group {
    margin: 15px;
}
.form-group label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}
.hide {
    display: none!important;
}
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
textarea.form-control {
    height: auto;
}

/* teacher add course listitem */
#table-list{
    margin-top: 20px;
    background: #f6f6f6
}
#btn-them{
    padding: 4px;
    background-color: #09F;
    border-radius: 4px;
    color: white;
    text-decoration: none
}
#btn-sua{
    margin: auto;
    padding: 4px;
    background-color:green;
    border-radius: 4px;
    color: white;
    float: left;
    text-decoration: none
}
#btn-xoa{
    margin: auto;
    padding: 4px;
    background-color: red;
    border-radius: 4px;
    color: white;
    float: right;
    text-decoration: none
}
#table-list tr td{
    text-align: center
}
#table-list tr .align-name{
    text-align: left
}
#table-list tr{
    font-size:18px;
    /* font-family: monospace */
}
#title-col #textbox{
    font-size: 16px;
    width: 97%;
    padding: 5px;
    border: 0;
}
#title-col p{
    margin: 5px;
    float: left;
}
.right-r{
    float: right;
}


/* admin style */
