body {
    line-height: 1;
    font-family: 'Source Sans Pro', sans-serif;
    overflow-x: hidden;
    font-weight: 400;
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
    padding: 0
}
a:hover{
    text-decoration: none;
}
#container{
    position: relative;
    height: 100%;
}
#header{
    width: 100%;
    height: 60px;
    position: relative;
    z-index: 100;
    /* overflow: hidden; */
    /* background: pink; */
    border-bottom: 1px solid rgba(0,0,0,.1);
}
.header{
    margin-bottom: 50px;
}
.logo-home{
    float: left;
}
.logo-home a h3{
    margin: auto;
    line-height: 2;
    padding: 5px;
}
.menu-home{
    float: left;
}
.menu-home button{
    margin-top: 10px;
    color: white;
    background: #2a73cc;
    font-size: 16px;
}
.account-header{
    float: right;
}
.account-header button{
    margin-top: 10px;
    color: #2a73cc;
    border: 1px solid #2A73CC ;
    font-size: 16px;
}

.dropdown-item{
    padding: 10px;
}
.dropdown-item:hover {
    background-color: aliceblue;
}
.header-search{
    margin-top: auto;
}
.btn-outline-secondary {
    color: #2a73cc;
    border-color:#ced4da;

}
.btn-outline-secondary:hover {
    color: #fff;
    background-color:#2a73cc ;
    border-color: #6c757d;
}

.header-login-signup{
    margin: auto;
}
.btn-login{
    float:right;
}
.btn-login a{
    color: white;
}
.btn-signup{
    float: right;
}
.title-islogin{
    margin: 20px 0 0 20px;
}










#body{
    width: 100%;
    min-height: 500px;
    /* overflow: hidden; */
   
}
.carousel-indicators li {
    border-radius: 10px;
}
.carousel-indicators .active {
    width: 12px;
    height: 12px;
    border-radius: 10px;
    background: #3276b1;
    border-color: #3276b1;
}
.carousel-caption{
    color: black
}
.carousel-caption h5{
    font-size: 70px;
    font-family: cursive;
    color: #2a73cc
}
/* coursera */

.carousel-item img{
    max-height: 500px;
    width: 100%;
    margin: auto;
}
.carousel-control-prev i,.carousel-control-next i{
    color: #2A73CC;
}
/*.......................*/
.partner-body{
    margin: auto;
}
.list-partner{
    margin: 36px auto;
    max-width: 1275px;
    background: #fff;
    position: relative;
    overflow-x: auto;
}
.list-partner a{
    padding: 0 10px;
}
.list-partner img{
    max-height: 40px;
    border: none;
    padding: 5px;
}
.infomation-body{
    margin: auto;
    margin-bottom: 20px;
}
.infomation-body-title{
    margin: 35px 0;
}
.infomation-body-title h3{
    font-family: OpenSans,Arial,sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    margin:auto;
    padding: 10px 0;
}
.left-info{
    margin: auto;
}
.left-info ul{
    padding: 10px;
}
.left-info ul li{
   margin-bottom: 40px;
}
.left-info ul li h3{
    font-size: 22px;
    line-height: 24px;
    font-weight: 500;
    margin-bottom: 10px;;
    font-family: OpenSans,Arial,sans-serif;
}
.left-info span{
    font-size: .875rem;
    line-height: 1.5rem;
}
.list-body-cousera{
    margin-bottom: 40px;
}
.list-body-cousera .title{
    background: #2a73cc;
    width: 100%;
    margin-bottom: 20px;
}
.list-body-cousera h3{
    padding: 0 20px;
    margin-top: 5px;
    /* margin: auto; */
    background-color: #2a73cc;
    color: white;   
}
.cousera-item{
    padding: 0;
    margin: auto;
    box-shadow: 0px 0px 5px 0px rgba(165, 165, 165, 0.75);
}
.cousera-item:hover{
    box-shadow: 0px 20px 50px 0px rgba(141, 167, 244, 0.5);
    transition: 0.3s ease-out;
    transform: scale(1.02, 1.02);
}
.carousel-control-next, .carousel-control-prev{
    width: 0;
}
.img-item{
    margin: auto;
    width: 100%;
    
}
.cousera-name{
    padding: 10px;
}
.cousera-info span{
    padding: 0 10px;
    color: #2a73cc;
}
.teacher-name,.price{
    padding: 5px 10px;
}

.btn-more{
    float: right;   
    margin: auto;
    margin-bottom: 20px;
    margin-right: 20px;
}
.btn-secondary{
    background-color: #2A73CC;
}
.btn-secondary:hover{
    color: #2A73CC;
    background: #fff;
    border-color: #2A73CC;
}
.link-pages{
    position: relative;
    width: 100%;
    overflow: hidden;
}
.feature{
    width: 100%;
    padding:60px 0 50px 0
}
.feature .container{
    max-width: 600px;
}
.feature h1{
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif
}
.feature p{
    text-align: center;
    color: #777;
    font-size: 15px;
    line-height: 1.7;
    font-family: 'Open Sans', sans-serif;
}
.feature-more{
    margin:30px  auto;
}
.features-item{
    float: left;
    padding: 15px;
    transition: 0.3s ease-out;

}
.features-item:hover{
    background:linear-gradient(to right,  #8da7f4 0%,#8da7f4 13%,#80aef2 32%,#47cde9 84%,#38d5e7 100%);
    box-shadow: 0px 20px 50px 0px rgba(141, 167, 244, 0.5);
    transition: 0.3s ease-out;
    transform: scale(1.02, 1.02);
  
}
.features-item i{
    float: right;
    color: #8da7f4;
}
.content h2{
    color: black
}
.content h2 a:hover{
    color: white;
}
.content p{
    color: #777;
    font-size: 15px;
    line-height: 1.7;
}
.features-item:hover i,.features-item:hover h2,.features-item:hover p{
    color: white
}



#myCarousel .thumbnail {
	margin-bottom: 0;
}
.carousel-control.left, .carousel-control.right {
	background-image:none !important;
}
.carousel-control {
	color:#fff;
	top:40%;
	color:#428BCA;
	bottom:auto;
	padding-top:4px;
	width:30px;
	height:30px;
	text-shadow:none;
	opacity:1;
}
.carousel-control:hover {
	color: #d9534f;
}
.carousel-control.left, .carousel-control.right {
	background-image:none !important;
}
.carousel-control.right {
	left:auto;
	right:-32px;
}
.carousel-control.left {
	right:auto;
	left:-32px;
}
.carousel-indicators {
	bottom:-30px;
}
.carousel-indicators li {
	border-radius:0;
	width:10px;
	height:10px;
	background:#ccc;
	border:1px solid #ccc;
}
.carousel-indicators .active {
	width:12px;
	height:12px;
	background:#3276b1;
	border-color:#3276b1;
}
.well {
    margin: auto;
}
/* cousera page */
.list-topic{
    margin-bottom: 20px;
}
.topic-item{
    position: relative;
    overflow: hidden;
    margin: 20px 0;
    box-shadow: 0px 0px 5px 0px rgba(165, 165, 165, 0.75);
}
.topic-item:hover{
    box-shadow: 0px 20px 50px 0px rgba(141, 167, 244, 0.5);
    transition: 0.3s ease-out;
    transform: scale(1.02, 1.02);
}
.topic-caption{
    position: absolute;
    right: 15%; 
    bottom: 20px; 
    left: 15%; 
     z-index: 10; 
    padding-top: 20px; 
    padding-bottom: 20px;
    color: #fff;
    text-align: center; 
    
}
.img-topic{
    width: 100%;
    height: 200px;
}
#topic{
    display: none;
}
.see-more{
    text-align: center;
    padding: 10px;
    margin: auto;
}
.see-more h5{
    border: 1px solid #2A73CC;
    padding: 5px ;
    border-radius: 4px;
}



#footer{
    min-height: 100px;
    /* overflow: hidden; */
    background: #e8e1e1;
}
.footer-left{
    float: left;
    margin: 20px;
}
.footer-left h3{
    padding: 10px;
    font-size: 30px;
    color:#6c757d ;

}
.footer-intro p{
    padding: 0 20px 10px 10px;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: #373a3c;
}
.footer-intro span{
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
    font-size: 12px;
    line-height: 1.5;
    color: #373a3c;
    padding: 10px;
}
.footer-more{
    margin-top: 30px;
}
.footer-more-item{
    float: left;
}
.footer-more-item h5{
    color: black;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-transform: uppercase;
}
.footer-more-item ul li{
    padding: 5px;;
}
.footer-more-item ul li a{
    color: #373a3c;
}

