<!DOCTYPE html>
<html lang="en">
<head>
	<title>OpenSchool-Coursera</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/style.css">

    <!--core js-->
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div id="header" class="header" class="container-fluid" style="margin-bottom: 0px;">
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="col-md-6 col-sm-12 logo-home" id="logo-home">
                    <a href="/"><h3>OpenSchool</h3></a>
                </div>
<!--                <div class="col-md-6 col-sm-12 menu-home">-->
<!--                    <div class="dropdown">-->
<!--                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">-->
<!--                        Learning-->
<!--                        </button>-->
<!--                        <div class="dropdown-menu">-->
<!--                          <a class="dropdown-item" href="#">Arts and Humanities</a>-->
<!--                          <a class="dropdown-item" href="#">Business</a>-->
<!--                          <a class="dropdown-item" href="#">Computer Science</a>-->
<!--                          <a class="dropdown-item" href="#">Data Science</a>-->
<!--                          <a class="dropdown-item" href="#">Information Technology</a>-->
<!--                          <a class="dropdown-item" href="#">Social Sciences</a>-->
<!--                        </div>-->
<!--                      </div>-->
<!--                </div>-->
            </div>
            <div class="col-sm-6 col-md-4 header-search">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Education" aria-label="Recipient's username" aria-describedby="button-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary" type="button" id="button-addon2">
                        <i class="fa fa-search" aria-hidden="true"></i>
                      </button>
                    </div>
                </div>
            </div>
            <!-- <div class="col-sm-6 col-md-4 header-login-signup">
                <button type="button" class="btn btn-primary btn-login" id="btn-login"><a href="login.html">Login</a></button>
                <button type="button" class="btn btn-link btn-signup" id="btn-signup"><a href="register.html">Sign up</a></button>
            </div> -->
            <div class="col-sm-6 col-md-4 ">
                <div class="col-md-6 col-sm-12 account-header">
                    <div class="dropdown">
                        <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-user-circle "  aria-hidden="true"></i>My Account
                        </button>
                        <div class="dropdown-menu">
                          <a class="dropdown-item" href="/teacher_home">My courses</a>
                          <a class="dropdown-item" href="#">Profile</a>
                          <a class="dropdown-item" href="#">Setting</a>
                          <a class="dropdown-item" href="#">Help Center</a>
                          <a class="dropdown-item" href="/logout">Logout</a>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>

    <div class="body body-big" id="body">
        <div class="container mycourse">
            <div class="row mycourse-title">
                <div class="tab-item active">
                    Your Lessons
                </div>
            </div>
            <div class="row ">
                <table style="min-width:650px" id="table-list" border="1" cellspacing="0" cellpadding="5px" align="center">
                    <tr id="title-col">
                        <td>Name</td>
                        <td><a id="btn-them" class="btn btn-primary" href="/teacher_add_lession/{{courseID}}">Add</a></td>
                    </tr>
                    {% for i in range(0, lenlesson) %}
                    <tr>
                        <td class="align-name">{{lesson['lesson'][i]['title']}}</td>
                        <td style="width: 150px;"><a id="btn-sua" class="btn btn-success" href="{{lesson['lesson'][i]['change']}}">Change</a>
                            <a  id="btn-xoa" class="btn btn-danger" onclick="return confirm('Bạn có chắc chắn xóa?')" href="{{lesson['lesson'][i]['del']}}">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>

    <div id="footer" class="container-fluid footer">
        <div class="row">
            <div class="col-md-5 footer-left">
                <h3><a href="">OpenSchool</a></h3>
                <div class="footer-intro">
                    <p>
                        OpenSchool provides universal access to the world’s best education,
                            partnering with top universities and organizations to offer courses online.
                    </p>
                    <span> @2019 OpenShool SE03. All rights reserved.</span>
                </div>
            </div>
            <div class="col-md-6 footer-more">
                <div class="col-md-4 footer-more-item">
                    <h5>OpenSchool</h5>
                    <ul>
                        <li>
                            <a href="">About</a>
                        </li>
                        <li>
                            <a href="">Certificates</a>
                        </li>
                        <li>
                            <a href="">Leadership</a>
                        </li>
                        <li>
                            <a href="">Catalog</a>
                        </li>
                        <li>
                            <a href="">For Campus</a>
                        </li>
                        <li>
                            <a href="">For Student</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 footer-more-item">
                    <h5>COMMUNITY</h5>
                        <ul>
                            <li>
                                <a href="">Learners</a>
                            </li>
                            <li>
                                <a href="">Partners</a>
                            </li>
                            <li>
                                <a href="">Developers</a>
                            </li>
                            <li>
                                <a href="">Students</a>
                            </li>
                        </ul>
                </div>
                <div class="col-md-4 footer-more-item">
                    <h5>CONNECT</h5>
                        <ul>
                            <li>
                                <a href="">Blog</a>
                            </li>
                            <li>
                                <a href="">Facebook</a>
                            </li>
                            <li>
                                <a href="">Youtube</a>
                            </li>
                            <li>
                                <a href="">Instagram</a>
                            </li>
                            <li>
                                <a href="">Lotus</a>
                            </li>
                        </ul>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
